<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <h2>To do list</h2>
    <form class="" action="/add" method="post">
      <input type="text" name="newTask" value="{{newTask}}"  placeholder="Enter to do">
      <input type="submit" value="submit">
    </form>
    <br>


      {{#incomplete}}
          <form class="" action="/complete" method="post"><input type="submit" value="complete"></input>{{task}}</form>
      {{/incomplete}}

      <!-- {{#complete}}
          {{task}}<br>
      {{/complete}} -->



    </form>
  </body>
</html>
